.App {
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #333;
}

.Card {
  border-radius: .25rem;
  width: 50rem;
  max-width: calc(100vw - 6rem);
  margin: 2rem auto;
  padding: 2rem 1.5rem;
  box-shadow: .05rem .05rem .125rem .125rem #3333;
}

form {
}

.form-field {
  padding: 0.5rem 0;

  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: .3rem;
}

.form-field input:not([type="color"]) {
  border-radius: .25rem;
  padding: .5rem;
  border: solid thin;
}

.form-field input.has-error {
  outline: thin solid red;
  border: solid thin red;
}

.error-message {
  margin-top: .25rem;
  color: red;
  font-size: .9rem;
}

.btn {
  padding: .5rem;
}
.ml-1 {
  margin-left: .25rem;
}
.ml-2 {
  margin-left: .5rem;
}